# Python
backend/.venv/
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
*.log

# Node
node_modules/
frontend/node_modules/
frontend/dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# DB
*.db-journal
*.db-wal
data/metadata.db

# env
.env

# PyInstaller
dist/
build/
*.db.bak
